#Node Packages
node_modules

#Kepp assets folder but remove files inside this
assets/*
!assets/.gitkeep

#MacOs
.DS_Store
svn

#IDE
/.idea

vendor/*
!vendor/wpfluent/
!vendor/openspout/
!vendor/woocommerce/
!vendor/composer/
!vendor/symfony/
!vendor/autoload.php

#misc
dev-docs/framework-doc.md
vendor.zip
/storage/session
/dev/vendor

builds
package-lock.json
yarn.lock
*.lock
config/vite_config.php

#Editor
/.github
/dev/build-scoped
assets