.fct-pro-feature-content {
  @apply flex flex-col items-center justify-center text-center;
  background-image: url('../../images/pro-feature-pattern.png');
  background-repeat: repeat;
  background-position: center;
  .fct-pro-feature-icon{
    @apply w-10 h-10 mb-3 rounded bg-[#FFFAEB] text-[#F6B51E] flex items-center justify-center;
    svg{
      @apply w-5 h-5;
    }
  }
  .fct-pro-feature-title{
    @apply text-lg font-medium leading-[28px] mb-1 mt-0 text-system-dark dark:text-gray-50;
  }
  .fct-pro-feature-text{
    @apply text-system-mid text-sm leading-[20px] m-0 dark:text-gray-300;
  }
  .el-button{
    @apply mt-5 min-w-[149px];
    .icon svg {
      @apply w-4.5 h-4.5;
    }
  }
}

.el-message-box.fluent-cart-pro-cta {
  @apply rounded-[16px];
  .el-message-box__headerbtn {
    @apply flex top-2.5 right-2.5 bg-transparent rounded-none hover:bg-transparent;
  }
}
.fct-pro-icon {
  svg{
    @apply w-4 h-4 text-warning-500;
  }
}
